.header {
  border: 1.5px solid var(--tertiary-text-color);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--header-background-color);

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.headerContainer {
  display: flex;
}

.nav {
  display: flex;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 247px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
}

.headerIcon {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 0;
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 76px;
  }
}

.headerTitle {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.9px;
  margin: 0;
  color: var(--title-color);
}

.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
    &Active {
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
  @media screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.navLink {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--tertiary-text-color);
  @media screen and (max-width: 767px) {
    color: #fff;
  }

  &Active {
    border-radius: 36px;
    background-color: #eac645;
    color: #111111;
    padding: 8px 16px;
    border-radius: 36px;
    font-weight: 700;
  }

  &:last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
  }
}

.userBarBox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  // gap: 24px;
  // margin-left: auto;
}
