.cardInfoContainer {
  @media screen and (max-width: 767px) {
    display: block;
  }
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 40px;
  object-fit: cover;
}

// .cardInfoWrapper {
//   height: 281px;
// }

.cardInfoImage {
  display: inline-block;
  @media screen and (max-width: 767px) {
    width: 287px;
    height: 408px;
  }
  height: 281px;
  width: 192px;
  border-radius: 8px;
}

.descriptionWrapper {
  @media screen and (max-width: 767px) {
    padding-top: 14px;
    padding-bottom: 44px;
  }
  max-width: 279px;
}

.title {
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 4px;
  }
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;

  color: var(--tertiary-text-color);

  padding-bottom: 8px;
}

.author {
  @media screen and (max-width: 767px) {
    padding-bottom: 18px;
  }
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;

  color: #b4afaf;

  padding-bottom: 20px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;

  color: var(--tertiary-text-color);
}

.storesLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  padding-top: 20px;
}

.storeIcon {
  transition-property: filter;
  transition-duration: 250ms;
  filter: grayscale(100%);
  &:hover,
  &:focus,
  &Amazon:hover,
  &Amazon:focus {
    filter: var(--store-icons-hover);
  }
  &Amazon {
    filter: var(--amazon-icon);
  }
}
