@import "normalize.css/normalize.css";

:root {
  --background-color: #ffffff;
  --register-background-color: #f6f6f6;
  --primary-text-color: #111111;
  --secondary-text-color: rgba(17, 17, 17, 0.5);
  --tertiary-text-color: #111111;
  --categories-list-item-color: rgba(17, 17, 17, 0.6);
  --title-color: #000000;
  --button-text-color: #f3f3f3;
  --header-background-color: rgba(255, 255, 255, 1);
  --toggle-bg: linear-gradient(#4f2ee8, #dcdcdc);
  --toggle-fg: #ffd000;
  --amazon-icon: grayscale(100%);
  --store-icons: grayscale(100%);
  --store-icons-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  --emptybox-text: rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] {
  --background-color: #111111;
  --register-background-color: #202024;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: rgba(246, 246, 246, 0.5);
  --tertiary-text-color: #ffffff;
  --categories-list-item-color: rgba(255, 255, 255, 0.6);
  --title-color: #f3f3f3;
  --button-text-color: #202024;
  --header-background-color: rgba(17, 17, 17, 1);
  --toggle-bg: linear-gradient(#4f2ee8, #686868);
  --toggle-fg: #00a6ff;
  --amazon-icon: brightness(0) invert(1);
  --store-icons: grayscale(100%);
  --store-icons-hover: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --emptybox-text: rgba(255, 255, 255, 0.6);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  &.hidden {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
  @media screen and (min-width: 767px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
