.googleButton {
  height: 40px;
  border-radius: 16px;
  background-color: #ffffff;
  outline: 1px solid #747775;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;

  cursor: pointer;
}

.buttonText {
  color: #1f1f1f;
  padding: 0;

  // display: inline-block;
  // vertical-align: middle;

  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}

.googleIcon {
  height: 20px;
  width: 20px;
}
