.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 579px;
  // height: 465px;

  background-color: var(--background-color);
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border-radius: 18px;
  border: 1px solid var(--tertiary-text-color);
  padding: 40px;

  display: flex;
  flex-direction: column;
  // justify-content: center;

  &:last-child button {
    margin: 0 auto;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;

  border-style: none;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  color: var(--tertiary-text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    color: #4f2ee8;
  }
}
.closeIcon {
  width: 28px;
  height: 28px;
}
