.toggleContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  margin-right: 24px;
  margin-left: auto;
}

.toggleWrapper {
  position: relative;
  width: 40px;
  height: 20px;
  background: var(--toggle-bg);
  border-radius: 50px;
}

.toggleInput {
  display: none;
}

.toggleInput:checked ~ .toggleWrapper {
  background: var(--toggle-bg);
}

.toggleInput:checked ~ .toggleWrapper::before {
  left: 21px;
}

.toggleWrapper::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(#ffffff, #f7f7f7);
  top: 1px;
  left: 1px;
  transition: all 0.4s ease;
  cursor: pointer;
}
